body {
    font-family: Blippo, fantasy;
    Color: blue
  }
  
  #fila {
    list-style: list-number;
    padding: 5;
  }
  
  #fila li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }