body {
    font-family: Blippo, fantasy;
  }
  
  #fila {
    list-style: url('/media/examples/rocket.svg');
    padding: 0;
  }
  
  #fila li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }